<div
    class="list-container"
    nz-row
    [nzGutter]="[
        { xs: 8, sm: 16, md: 24, lg: 32 },
        { xs: 8, sm: 16, md: 24, lg: 32 }
    ]"
>
    <div nz-col [nzXs]="24" [nzXl]="16">
        <nz-spin [nzSpinning]="showLoading">
            <nz-calendar
                [(ngModel)]="selectedDate"
                (nzSelectChange)="selectChange($event)"
            >
                <ul *nzDateCell="let date" class="events">
                    @switch (date | date: "yyyy-MM-dd") { @case (date | date:
                    "yyyy-MM-dd") {
                    <li>
                        @if(isSmallScreen){
                        <nz-badge
                            class="count-badge"
                            nzStandalone
                            [nzCount]="
                                events[(date | date : 'yyyy-MM-dd') ?? '']
                                    ?.length
                            "
                        />
                        }@else { @for ( item of events[ (date | date:
                        "yyyy-MM-dd") ?? "" ] ; track item ) {
                        <nz-badge
                            [nzStatus]="'default'"
                            [nzText]="item.title"
                        />} }
                    </li>
                    } }
                </ul>
            </nz-calendar>
        </nz-spin>
    </div>
    <div nz-col [nzXs]="24" [nzXl]="8">
        <div class="copy-to-clipboard-button-area">
            <button nz-button nzType="primary" (click)="copyToCalendar()">
                Copy Calendar URL
            </button>
            @if(showCheckmark){
            <span
                nz-icon
                nzType="check-circle"
                nzTheme="twotone"
                nzTwotoneColor="#52c41a"
                class="checkmark"
            ></span>

            Done! Now

            <a nz-dropdown [nzDropdownMenu]="menu">
                add to Calendar
                <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    @for(elem of calendarTypes; track elem.label) {
                    <li nz-menu-item>
                        <a [href]="elem.href" target="_blank">
                            {{ elem.label }}
                        </a>
                    </li>
                    }
                </ul>
            </nz-dropdown-menu>
            }
        </div>
        @if(auth.isLoggedIn()){
        <nz-alert
            nzType="info"
            nzMessage="Only approved events will be shown."
            nzShowIcon
            class="info-banner"
        />
        }
        <nz-spin
            [nzSpinning]="showLoading"
            nzTip="Loading..."
            [class.loading-spinner]="showLoading"
        >
            <div
                class="list-container"
                nz-row
                [nzGutter]="[
                    { xs: 8, sm: 16, md: 24, lg: 32 },
                    { xs: 8, sm: 16, md: 24, lg: 32 }
                ]"
            >
                @for(event of events[(selectedDate | date : 'yyyy-MM-dd') ??
                '']; track event) {
                <div
                    nz-col
                    class="gutter-row"
                    [nzXs]="24"
                    [nzMd]="12"
                    [nzXXl]="12"
                >
                    <ui-event-card
                        class="inner-box"
                        [event]="event"
                    ></ui-event-card>
                </div>
                }@empty { @if(!showLoading) {
                <nz-empty
                    nzNotFoundImage="simple"
                    class="no-data-image"
                ></nz-empty>
                } }
            </div>
        </nz-spin>
    </div>
</div>
