<div
    class="list-container"
    nz-row
    [nzGutter]="[
        { xs: 8, sm: 16, md: 24, lg: 32 },
        { xs: 8, sm: 16, md: 24, lg: 32 }
    ]"
>
    <div nz-col [nzXs]="24" [nzXl]="16">
        <nz-spin [nzSpinning]="showLoading">
            <nz-calendar
                [(ngModel)]="selectedDate"
                (nzSelectChange)="selectChange($event)"
                (nzModeChange)="calendarModeChange($event)"
            >
                <ng-template #monthCellRender let-month>
                    <div
                        class="relative flex flex-col items-center justify-center h-full"
                    >
                        <div class="text-lg font-semibold">
                            {{ month | date : "MMM" }}
                        </div>
                        @if (monthEventCounts.get(month.getMonth())) {
                        <div
                            class="badge badge-primary badge-lg absolute top-1 right-1"
                        >
                            {{ monthEventCounts.get(month.getMonth()) }}
                        </div>
                        }
                    </div>
                </ng-template>
                <ul *nzDateCell="let date" class="events">
                    @switch (date | date: "yyyy-MM-dd") { @case (date | date:
                    "yyyy-MM-dd") {
                    <li>
                        @if(isSmallScreen){
                        <nz-badge
                            class="count-badge"
                            nzStandalone
                            [nzCount]="
                                events[(date | date : 'yyyy-MM-dd') ?? '']
                                    ?.length
                            "
                        />
                        }@else { @for ( item of events[ (date | date:
                        "yyyy-MM-dd") ?? "" ] ; track item ) {
                        <nz-badge
                            [nzStatus]="'default'"
                            [nzText]="item.title"
                        />} }
                    </li>
                    } }
                </ul>
                <ng-template #monthFullCellRender let-month>
                    <div class="ant-fullcalendar-month">
                        <div class="ant-fullcalendar-value">
                            {{ month | date : "MMM" }}
                        </div>
                        <div class="ant-fullcalendar-content">
                            @if (monthEventCounts.get(month.getMonth())) {
                            <div class="badge badge-primary badge-lg">
                                {{ monthEventCounts.get(month.getMonth()) }}
                            </div>
                            }
                        </div>
                    </div>
                </ng-template>
            </nz-calendar>
            <div class="flex justify-end gap-4 mt-4">
                <button
                    class="btn btn-soft btn-primary"
                    (click)="navigateCalendar(-1)"
                >
                    <
                </button>
                <button
                    class="btn btn-soft btn-primary"
                    (click)="navigateCalendar(1)"
                >
                    >
                </button>
            </div>
        </nz-spin>
    </div>
    <div nz-col [nzXs]="24" [nzXl]="8">
        <ui-copy-calendar-url-button> </ui-copy-calendar-url-button>
        @if(auth.isLoggedIn()){
        <nz-alert
            nzType="info"
            nzMessage="Only approved events will be shown."
            nzShowIcon
            class="info-banner"
        />
        }
        <nz-spin
            [nzSpinning]="showLoading"
            nzTip="Loading..."
            [class.loading-spinner]="showLoading"
        >
            <div
                class="list-container"
                nz-row
                [nzGutter]="[
                    { xs: 8, sm: 16, md: 24, lg: 32 },
                    { xs: 8, sm: 16, md: 24, lg: 32 }
                ]"
            >
                @for(event of monthEvents; track event) {
                <div
                    nz-col
                    class="gutter-row"
                    [nzXs]="24"
                    [nzMd]="12"
                    [nzXXl]="12"
                >
                    <ui-event-card
                        class="inner-box"
                        [event]="event"
                    ></ui-event-card>
                </div>
                }@empty { @if(!showLoading) {
                <nz-empty
                    nzNotFoundImage="simple"
                    class="no-data-image"
                ></nz-empty>
                } }
            </div>
        </nz-spin>
    </div>
</div>
