<nz-collapse nzGhost class="search-options" [nzBordered]="false">
    <nz-collapse-panel
        #p
        [nzHeader]="collapseHeader"
        [nzExpandedIcon]="expandedIcon"
        [ngStyle]="{
            'margin-bottom': '-50px',
            cursor: 'default'
        }"
        [nzDisabled]="!this.auth.isLoggedIn()"
    >
        @if(auth.isLoggedIn()) {
        <span class="search-option-label">Only show unapproved</span>
        <nz-switch
            [ngModel]="showUnapprovedOnly"
            (ngModelChange)="onShowUnapprovedChange($event)"
        ></nz-switch>
        }
    </nz-collapse-panel>
</nz-collapse>

<ng-template #expandedIcon let-active>
    @if(this.auth.isLoggedIn()){
    {{ active }}
    <span
        nz-icon
        nzType="caret-right"
        class="ant-collapse-arrow search-header-icon"
        [nzRotate]="p.nzActive ? 90 : 0"
    ></span>
    }
</ng-template>
<ng-template #collapseHeader>
    <ui-search
        searchPlaceholder="Search"
        (onInputTextChange)="filterEvents($event)"
        (click)="$event.stopPropagation()"
    ></ui-search>
</ng-template>

<div
    class="add-event-button-container"
    nz-flex
    nzJustify="space-between"
    nzAlign="flex-start"
>
    @defer {
    <nz-segmented
        [nzOptions]="displaySegmentOptions"
        [ngModel]="segmentSelection"
        (nzValueChange)="onSegmentChange($event)"
        nzSize="large"
    ></nz-segmented>
    } @if(auth.isLoggedIn()) {
    <button
        nz-button
        nzType="primary"
        nzShape="round"
        nzSize="large"
        (click)="openDrawer()"
    >
        <span nz-icon nzType="plus"></span>
        @if(!isSmallScreen){
        <span> Add Event </span>
        }
    </button>
    }
</div>
<nz-spin
    [nzSpinning]="isLoading"
    nzTip="Loading..."
    [class]="isLoading ? 'loading-spinner' : ''"
>
    <div
        class="list-container"
        nz-row
        [nzGutter]="[
            { xs: 8, sm: 16, md: 24, lg: 32 },
            { xs: 8, sm: 16, md: 24, lg: 32 }
        ]"
    >
        @for(event of events; track event.id) {
        <div
            nz-col
            class="gutter-row"
            [nzXs]="24"
            [nzSm]="12"
            [nzMd]="8"
            [nzLg]="6"
        >
            <ui-event-card class="inner-box" [event]="event"></ui-event-card>
        </div>
        }@empty { @if(!isLoading) {
        <nz-empty nzNotFoundImage="simple" class="no-data-image"></nz-empty>
        } }
    </div>
</nz-spin>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
</ng-template>
