rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.token.get("isAdmin", false) == true;
    }

    match /events/{document=**} {
      function isMine() {
        return /databases/$(database)/documents/users/$(request.auth.uid) == get(request.path).data.authorId;
      }
      
    	allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if isMine() || isAdmin();
    }

    match /organizers/{document=**} {      
    	allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /locations/{document=**} {      
    	allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /tags/{document=**} {      
    	allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}
