<nz-card
    [nzCover]="coverTemplate"
    [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
    [nzHoverable]="true"
>
    <nz-card-meta
        (click)="onCardClick()"
        [nzTitle]="organizer.name"
        [nzDescription]="organizer.subtitle ?? null"
        [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
    <!-- <nz-avatar-group>
        <nz-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        ></nz-avatar>
    </nz-avatar-group> -->
</ng-template>
<ng-template #coverTemplate>
    <span class="banner-image-container" (click)="onCardClick()">
        <img
            class="banner-image"
            [alt]="
                (organizer.bannerUri ? organizer.name : 'Default') +
                ' Event Banner'
            "
            [src]="
                organizer.bannerUri ??
                'https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png'
            "
        />
        @if(canEdit){
        <button
            class="bg-blue-500 text-white hover:bg-blue-600 rounded-full p-3 text-lg edit-icon"
            (click)="openDrawer(); $event.stopPropagation()"
        >
            <span nz-icon nzType="edit"> </span>
        </button>
        }
    </span>
</ng-template>
<ng-template #actionSetting>
    <a nz-dropdown [nzDropdownMenu]="menu" nz-tooltip nzTooltipTitle="Socials">
        <span nz-icon nzType="link"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            @for(link of organizer.officialPageUrls; track link) {
            <li nz-menu-item>
                <a
                    [href]="link.startsWith('http') ? link : 'https://' + link"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <span nz-icon nzType="link"></span>
                    {{ link | extractDomain }}
                </a>
            </li>
            }
        </ul>
    </nz-dropdown-menu>
</ng-template>
<ng-template #actionEdit>
    <span nz-icon nzType="edit"></span>
</ng-template>
<ng-template #actionEllipsis>
    @if (organizer.isInactive) {
    <span nz-icon nzType="close-circle" nzTheme="twotone"></span>
    }
</ng-template>

<ng-template #drawerFooter>
    <div style="float: right">
        <button
            class="bg-gray-200 text-gray-800 hover:bg-gray-300 mr-2 px-4 py-2 rounded"
            (click)="close()"
        >
            Cancel
        </button>
        <button
            class="bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded"
            (click)="submit()"
        >
            Submit
        </button>
    </div>
</ng-template>
