<form nz-form [formGroup]="submissionForm">
    @for(prop of formProps; track prop.controlName) { @if(prop.extra.display) {
    <nz-form-item>
        <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            [nzRequired]="prop.extra['required']"
            [nzFor]="prop.controlName"
            [nzTooltipTitle]="prop.extra['tooltip']"
        >
            {{ prop.label }}
        </nz-form-label>
        <nz-form-control
            [nzSm]="18"
            [nzXs]="24"
            [nzExtra]="prop.extra['helpText']"
        >
            @switch(prop.extra.fieldType) { @case ("simpleText") {
            <input
                nz-input
                [formControlName]="prop.controlName"
                (ngModelChange)="
                    onInputChange(prop.controlName, $event, submissionForm)
                "
            />
            } @case ("paragraphText") {
            <textarea
                rows="4"
                nz-input
                [formControlName]="prop.controlName"
                (ngModelChange)="
                    onInputChange(prop.controlName, $event, submissionForm)
                "
            ></textarea>
            } @case ("markdown") {
            <div class="editor-wrapper">
                <nz-code-editor
                    nzEditorMode="normal"
                    class="editor"
                    nz-input
                    [formControlName]="prop.controlName"
                    [nzEditorOption]="codeEditorOptions"
                    (ngModelChange)="
                        onInputChange(prop.controlName, $event, submissionForm)
                    "
                ></nz-code-editor>
            </div>
            }@case ("datetime") {
            <nz-date-picker
                nzFormat="yyyy-MM-dd HH:mm"
                [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 15 }"
                [nzShowWeekNumber]="true"
                [nzAllowClear]="false"
                nz-input
                [formControlName]="prop.controlName"
                (ngModelChange)="
                    onInputChange(prop.controlName, $event, submissionForm)
                "
            ></nz-date-picker>
            } @case ("checkbox") {
            <span
                nz-checkbox
                nz-input
                [formControlName]="prop.controlName"
                (ngModelChange)="
                    onInputChange(prop.controlName, $event, submissionForm)
                "
            ></span>
            } @case ("multiSelect") {
            <nz-select
                nzMode="multiple"
                nzPlaceHolder="Select organizer"
                nzShowSearch
                nz-input
                [formControlName]="prop.controlName"
                (ngModelChange)="
                    onInputChange(prop.controlName, $event, submissionForm)
                "
            >
                @for (o of prop.options; track o.value) {
                <nz-option [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
                }@empty { }
            </nz-select>
            }}
        </nz-form-control>
    </nz-form-item>

    } }
</form>
