<div class="card bg-white shadow-sm relative">
    @if(!event.isApproved || isHappeningNow) {
    <div class="absolute top-6 right-0 z-10 -mr-1 -mt-1">
        @if(!event.isApproved) {
        <div class="badge badge-md badge-secondary">Pending Approval</div>
        } @else if(isHappeningNow) {
        <div class="badge badge-md badge-primary">Happening Now</div>
        }
    </div>
    }
    <figure class="px-3 pt-3">
        <img
            class="banner-image"
            [class.gradient-border]="isHappeningNow"
            [alt]="
                (event.bannerUri ? event.title : 'Default') + ' Event Banner'
            "
            [src]="event.bannerUri ?? 'https://i.imgur.com/o7fH8jn.png'"
            (click)="onCardClick()"
        />
    </figure>

    <div class="card-body">
        <h2 class="card-title flex justify-between items-center">
            <div class="event-title-text">
                @if(event.eventLinks.length === 0) {
                {{ event.title }}
                }@else {
                <a
                    [href]="
                        event.eventLinks[0].startsWith('http')
                            ? event.eventLinks[0]
                            : 'https://' + event.eventLinks[0]
                    "
                    target="_blank"
                    rel="noopener noreferrer"
                    class="link link-hover"
                    (click)="onTitleLinkClick($event)"
                >
                    {{ event.title }}
                </a>
                }
            </div>
            <div>
                @if(event.eventLinks.length > 1) {
                <div class="dropdown dropdown-end">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost btn-circle avatar link-icon-container"
                    >
                        <span
                            nz-icon
                            nzType="link"
                            nzTheme="outline"
                            class="link-icon-inner"
                        ></span>
                        <span class="link-count-badge">{{
                            event.eventLinks.length
                        }}</span>
                    </div>
                    <ul
                        tabindex="0"
                        class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
                    >
                        @for(link of event.eventLinks; track link) {
                        <li>
                            <a
                                [href]="
                                    link.startsWith('http')
                                        ? link
                                        : 'https://' + link
                                "
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <span nz-icon nzType="link"></span>
                                {{ extractDomain(link) }}
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }
            </div>
        </h2>
        @if(event.subtitle) {
        {{ event.subtitle }} <br />
        }<i>
            {{
                [this.event.startDatetime, this.event.endDatetime]
                    | dateRangeHumanizer
            }}
        </i>
        <div class="card-actions event-properties-container">
            <div class="event-icons">
                @if (!event.isConfirmed || !event.isWalkInAvailable) {
                @if(!event.isConfirmed) {
                <span
                    nz-icon
                    nzType="question-circle"
                    nz-tooltip
                    nzTooltipTitle="Event not confirmed"
                ></span>
                } @if(!event.isWalkInAvailable) {
                <span
                    nz-icon
                    nzType="form"
                    nz-tooltip
                    nzTooltipTitle="You must register to join. Walk-ins not accepted."
                ></span>
                } } @else {
                <span
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#52c41a'"
                    nz-tooltip
                    nzTooltipTitle="Event is both confirmed & accepts walk-ins."
                ></span>
                } @if(event.isPaid) {
                <span
                    nz-icon
                    nzType="dollar"
                    nz-tooltip
                    nzTooltipTitle="This event is paid"
                ></span>
                }
            </div>
            <div class="event-tags">
                @for (tag of tags; track tag.id) {
                <div
                    [class]="
                        'badge badge-soft badge-' +
                        (tag.colorClass ? '' + tag.colorClass : 'primary')
                    "
                >
                    {{ tag.name }}
                </div>
                }
            </div>
        </div>
    </div>
    @if(canEdit){
    <div class="edit-icon">
        <button
            class="badge badge-outline badge-primary"
            (click)="openDrawer()"
        >
            <span nz-icon nzType="edit"> </span>
        </button>
    </div>
    }
</div>

<ng-template #drawerFooter>
    <div class="flex justify-between items-center w-full">
        @if(auth.isAdmin()){ @if(showDeleteConfirmation){
        <button
            class="border border-red-500 text-red-500 hover:bg-red-50 hover:text-red-600 px-4 py-2 rounded"
            (click)="onConfirmDeleteClick()"
        >
            ⚠️ Confirm Delete
        </button>

        } @else {
        <button
            class="bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded"
            (click)="onDeleteClick()"
        >
            Delete Event
        </button>

        } }
        <div class="flex">
            <button
                class="bg-gray-200 text-gray-800 hover:bg-gray-300 mr-2 px-4 py-2 rounded"
                (click)="close()"
            >
                Cancel
            </button>
            <button
                class="bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded"
                (click)="submit()"
            >
                Submit
            </button>
        </div>
    </div>
</ng-template>
