.event-properties-container {
    display: flex;
    justify-content: space-between; /* Aligns icons to left and tags to right */
    flex-wrap: wrap;
    align-items: center;
}

.event-icons {
    display: flex;
    align-items: center;
    gap: 5px; /* Spacing between icons */
}

.event-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Spacing between tags */
}

[nz-icon] {
    margin: 0px 5px;
}

.banner-image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}

.banner-image-container {
    position: relative;
}

.edit-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.event-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px; /* Add some spacing between the title and the edit icon */
}

.gradient-border {
    background: linear-gradient(
                to bottom,
                oklch(0.1 0.2 240 / 0.95),
                oklch(0.1 0.2 240 / 0.95)
            )
            padding-box,
        linear-gradient(var(--angle), #ff0047, #0084ff) border-box;

    border: 3px solid transparent;
    border-radius: 5px;
    animation: 3s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
