[nz-icon] {
    margin: 0px 5px;
}

.banner-image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
}

.banner-image-container {
    position: relative;
}

.edit-icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.gradient-border {
    background: linear-gradient(
                to bottom,
                oklch(0.1 0.2 240 / 0.95),
                oklch(0.1 0.2 240 / 0.95)
            )
            padding-box,
        linear-gradient(var(--angle), #ff0047, #0084ff) border-box;

    border: 3px solid transparent;
    border-radius: 5px;
    animation: 3s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
