@if(!event.isApproved){
<nz-ribbon nzText="Needs Approval" nzColor="red">
    <ng-container [ngTemplateOutlet]="card"></ng-container> </nz-ribbon
>} @else if (isHappeningNow) {
<nz-ribbon nzText="Happening Now" nzColor="blue">
    <ng-container [ngTemplateOutlet]="card"></ng-container>
</nz-ribbon>

}@else {<ng-container [ngTemplateOutlet]="card"></ng-container> }

<ng-template #card>
    <nz-card
        [nzCover]="coverTemplate"
        [nzActions]="[actionSetting, actionEllipsis]"
        [nzHoverable]="true"
    >
        <nz-card-meta
            (click)="onCardClick()"
            [nzTitle]="event.title"
            [nzDescription]="event.subtitle ?? null"
            [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
    </nz-card>
</ng-template>

<ng-template #avatarTemplate>
    <!-- <nz-avatar-group>
        <nz-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        ></nz-avatar>
    </nz-avatar-group> -->
</ng-template>
<ng-template #coverTemplate>
    <span class="banner-image-container">
        <img
            class="banner-image"
            [alt]="
                (event.bannerUri ? event.title : 'Default') + ' Event Banner'
            "
            [src]="
                event.bannerUri ??
                'https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png'
            "
            (click)="onCardClick()"
        />
        @if(canEdit){
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="circle"
            (click)="openDrawer()"
            class="edit-icon"
        >
            <span nz-icon nzType="edit"> </span>
        </button>

        }
    </span>
</ng-template>
<ng-template #actionSetting>
    @if(event.eventLinks.length > 1) { @defer {
    <a
        nz-dropdown
        [nzDropdownMenu]="menu"
        nz-tooltip
        nzTooltipTitle="Multiple Links Available"
    >
        <span nz-icon nzType="link"></span>
        <span nz-icon nzType="plus"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            @for(link of event.eventLinks; track link) {
            <li nz-menu-item>
                <a
                    [href]="link.startsWith('http') ? link : 'https://' + link"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <span nz-icon nzType="link"></span>
                    {{ extractDomain(link) }}
                </a>
            </li>
            }
        </ul>
    </nz-dropdown-menu>
    } @placeholder {
    <span nz-icon nzType="link"></span>
    <span nz-icon nzType="plus"></span>} } @else {

    <span nz-tooltip nzTooltipTitle="Click to open event page in a new tab">
        <a
            [href]="
                event.eventLinks[0].startsWith('http')
                    ? event.eventLinks[0]
                    : 'https://' + event.eventLinks[0]
            "
            rel="noopener noreferrer"
            target="_blank"
        >
            <span nz-icon nzType="link"></span>
        </a>
    </span>
    }
</ng-template>
<ng-template #actionEllipsis>
    <div>
        @if (!event.isConfirmed || !event.isWalkInAvailable) {
        @if(!event.isConfirmed) {
        <span
            nz-icon
            nzType="question-circle"
            nz-tooltip
            nzTooltipTitle="Event not confirmed"
        ></span>
        } @if(!event.isWalkInAvailable) {
        <span
            nz-icon
            nzType="calendar"
            nz-tooltip
            nzTooltipTitle="You must register to join. Walk-ins not accepted."
        ></span>
        } } @else {
        <span
            nz-icon
            [nzType]="'check-circle'"
            [nzTheme]="'twotone'"
            [nzTwotoneColor]="'#52c41a'"
            nz-tooltip
            nzTooltipTitle="Event is both confirmed & accepts walk-ins."
        ></span>
        } @if(event.isPaid) {
        <span
            nz-icon
            nzType="dollar"
            nz-tooltip
            nzTooltipTitle="This event is paid"
        ></span>
        }
    </div>
</ng-template>

<ng-template #drawerFooter>
    <div style="float: right">
        <button nz-button style="margin-right: 8px" (click)="close()">
            Cancel
        </button>
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
    </div>
</ng-template>
